<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="template :: fragment_html_head(title='Training Application')">
			<meta charset="UTF-8" />
	</head>
	<body>
		<header th:include="template :: fragment_header(title='Training Application')"></header>
		<div class="mdl-grid">
			<div class="mdl-cell mdl-cell--2-col"></div>
			<div class="mdl-cell mdl-cell--8-col">
				<div class="mdl-card__wide mdl-card mdl-shadow--2dp">
					<div class="mdl-card__title">
						<h2><i class="fa fa-list" aria-hidden="true"></i> Users</h2>
						<form th:action="@{/account/register}">
							<button class="sample-plus-button mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
								<i class="fa fa-user-plus"></i>
							</button>
						</form>
					</div>
					<ul class="mdl-list-icon mdl-list">
						<li class="mdl-list__item" th:each="account : ${accounts}">
							<span class="mdl-list__item-primary-content">
								<i class="fa fa-user fa-2x"></i><span th:text="${account.userName.value}">Bryan Cranston</span>
							</span>
							<span>
								<a th:href="@{/account/{accountId}/modify(accountId=${account.accountId.value})}" class="mdl-button mdl-js-button mdl-button--primary"><i class="fa fa-pencil"></i>Edit</a>
							</span>
						</li>						
					</ul>
				</div>
			</div>
			<div class="mdl-cell mdl-cell--2-col"></div>
		</div>

		<footer th:include="template :: fragment_footer"></footer>
	</body>
</html>