<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head th:include="template :: fragment_html_head(title='Training Application')">
			<meta charset="UTF-8" />
	</head>
	<body>
		<header th:include="template :: fragment_header(title='Training Application')"></header>
		<div>
			ログインに成功しました。
			<span  sec:authorize="hasRole('ROLE_ADMIN')">管理者権限で表示しています。</span>
		    <span sec:authorize="hasRole('ROLE_USER')">一般権限で表示しています。</span>
		</div>
		<footer th:include="template :: fragment_footer"></footer>
	</body>
</html>